<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FYEO</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- BOOTSTRAP THEME -->
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="static/styles.css">

</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand" href="#"></a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="static/index.html">Home</a>
        <a class="nav-item nav-link" href="static/about.html">About</a>
        <a class="nav-item nav-link" href="static/features.html">Features</a>
        <a class="nav-item nav-link" href="static/login.html">Login</a>
        <a class="nav-item nav-link" href="static/signup.html">Signup</a>
    </div>
</nav>

<h2>About Us</h2>

<center><div class="container text-center">
        <div class="card text-white bg-primary ; border:5px solid primary; border-radius: 10px; padding: 10px 10px 10px 10px; width:69rem;">
        <img src="" class="card-img-top" alt="">
        <h3 class="card-title">Who are We?</h3>
            <div class="card-body">
                <p class="card-text">FYEO is a company that is committed to the safety and security of your account usernames and passwords. We believe that people should have a convenient way to store all of their account login info in a organized and safe fashion.</p>
            </div>
        </div>
    </div></center> 
<br>
<center><div class="container text-center">
        <div class="card text-white bg-primary ; border:5px solid primary; border-radius: 10px; padding: 10px 10px 10px 10px; width:69rem;">
        <img src="" class="card-img-top" alt="">
        <h3 class="card-title">What Are We Offering?</h3>
            <div class="card-body">
                <p class="card-text">For Your Eyes Only is an application that gives users a way to keep note of our many account logins.</p>
            </div>
        </div>
</div></center>
<br>
</body>
</html>

<!-- FOOTER -->
<div class="bg-primary p-5 text-white">
    <center>&copy; 2019 FYEO Inc</center>
</div>