{% extends 'base.html' %}

{% block content %}

<!-- NAVBAR -->
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand" href="#"></a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="static/about.html">About</a>
        <a class="nav-item nav-link" href="static/features.html">Features</a>
        <a class="nav-item nav-link" href="static/login.html">Login</a>
        <a class="nav-item nav-link" href="static/signup.html">Signup</a>
    </div>
</nav>
<br>

<h2>Features</h2>
<br>
    <center><div class="container text-center">
        <div class="card text-white bg-primary ; border:5px solid primary; border-radius: 10px; padding: 10px 10px 10px 10px; width:69rem;">
        <img src="" class="card-img-top" alt="">
        <h3 class="card-title">Take Notes</h3>
            <div class="card-body">
                <p class="card-text">Take note of all the accounts that you have made.</p>
                <p class="card-text">Store the username and password that correlates with a certain account.</p>
                <p class="card-text">Be sure that you will not have to hit reset password or make a new account.</p>
            </div>
        </div>
    </div></center>
    <br>
    <center><div class="container text-center">
        <div class="card text-white bg-primary ; border:5px solid primary; border-radius: 10px; padding: 10px 10px 10px 10px; width:69rem;">
        <img src="" class="card-img-top" alt="">
        <h3 class="card-title">Personal</h3>
            <div class="card-body">
                <p class="card-text">This is all personal</p>
                <p class="card-text">It's nobody else's business but yours</p>
                <p class="card-text">Only one login needed to acces your info.</p>
            </div>
        </div>
    </div></center>
</p>

{% endblock %}