<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FYEO</title>

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="static/styles.css">

</head>
<body>

<!-- NAVBAR -->
<ul>
    <li style="float:right"><a href="signup.html">Sign Up</a></li>
    <li style="float:right"><a href="login.html">Login</a></li>
    <li style="float:right"><a href="features.html">Features</a></li>
    <li style="float:right"><a href="about.html">About</a></li>
    <li style="float:right"><a href="index.html">Home</a></li>
</ul>

<h2>About</h2>
<p>
    For Your Eyes Only is an application 
    that gives users a way to keep note 
    of our many account logins
</p>
</body>
</html>
<!-- FOOTER -->
<div class="bg-secondary p-5 text-white">
    <center>&copy; 2019 FYEO Inc</center>
</div>