<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FYEO</title>

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- BOOTSTRAP THEME -->
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">

</head>

<body>

    {% block content %}

    {% endblock %}

    <!-- FOOTER -->
    <style>
        footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        }
        </style>
    <footer class="bg-primary p-5 text-white">
        <center>&copy; 2019 FYEO Inc</center>
    </footer>


    <script src="static/index.html" charset="utf-8"></script>
    <script src="static/features.html" charset="utf-8"></script>
    <script src="static/about.html" charset="utf-8"></script>
    <script src="static/signup.html" charset="utf-8"></script>
    <script src="static/login.html" charset="utf-8"></script>

</body>
</html>
