<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FYEO</title>

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="static/styles.css">

</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="index.html">Home</a>
        <a class="nav-item nav-link" href="about.html">About</a>
        <a class="nav-item nav-link" href="features.html">Features</a>
    </div>
</nav>


</body>
</html>
<!-- FOOTER -->
<div class="bg-secondary p-5 text-white">
    &copy; 2019 FYEO Inc
</div>
    


