<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FYEO</title>
    
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- BOOTSTRAP THEME -->
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="static/styles.css">

</head>
<body>
    
<!-- NAVBAR -->
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand" href="#"></a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="stiatic/index.html">Home</a>
        <a class="nav-item nav-link" href="static/about.html">About</a>
        <a class="nav-item nav-link" href="static/features.html">Features</a>
        <a class="nav-item nav-link" href="static/login.html">Login</a>
        <a class="nav-item nav-link" href="static/signup.html">Signup</a>
    </div>
</nav>

<h1>FYEO</h1>

</body>
</html>
<!-- FOOTER -->
<div class="bg-primary p-5 text-white">
    <center>&copy; 2019 FYEO Inc</center>
</div>
