<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FYEO</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- BOOTSTRAP THEME -->
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="static/styles.css">

    <h4><a href='/'>Back to Home</a></h4>
</head>

<body>
    <div class="container text-center; width:69rem;">
        <div class="container text-center">
            <div class="card text-white bg-primary ; border:5px solid primary; border-radius: 10px; padding: 10px 10px 10px 10px; width:69rem;">
                <h5>Account Image</h5>
                <h5>{{ info.img_url }}</h5>
                <br>
                <h5>Name</h5>
                <h5>{{ info.name }}</h5>
                <br>
                <h5>Username</h5>
                <h5>{{ info.username }}</h5>
                <br>
                <h5>Password</h5> 
                <h5>{{ info.password }}</h5>
    
            <p><form action='/infos/{{ info._id }}/edit'>
                <input type='hidden' name='_method' value='EDIT'>   
                <button class='btn btn-primary' type='submit'>Edit Account Info Log</button>
            </form></p>
            <p><form method='POST' action='/infos/{{ info._id }}/delete'>
                <input type='hidden' name='_method' value='DELETE'>
                <button class='btn btn-primary' type='submit'>Delete Account Info Log</button>
            </form></p>
        </div>
    </div>
</div>
</body>
</html>
<!-- FOOTER -->
<div class="bg-primary p-5 text-white">
    <center>&copy; 2019 FYEO Inc</center>
</div>