{% extends 'base.html' %}

{% block content %}

    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <a class="navbar-brand" href="#"></a>
        <div class="navbar-nav">
            <a href='/' class='btn btn-default navbar-btn'>Back to Home</a>
        </div>
    </nav>

    <form method='POST' action='/infos/{{info._id}}'>
        <h2><center>Edit Account Info Log</center></h2>
            <input type='hidden' name='_method' value='PUT'/>
            <div class="container text-center; width:69rem;"></div>
                {% include 'partials/infos_form.html' %}
            <br>
            <!-- BUTTON -->
            <center><div class='form-group'>
                <button class='btn btn-primary' type='submit'>Save Account Info Log</button>
            </div></center>
        </form>

{% endblock %}
