<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FYEO</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- BOOTSTRAP THEME -->
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="static/styles.css">

</head>

<body>
    {% block content %}

    <h4><a href='/'>Back to Home</a></h4>
    
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <form method='POST' action='/infos/{{info._id}}'>
                <input type='hidden' name='_method' value='PUT'/>
                {% include 'partials/infos_form.html' %}
                <!-- BUTTON -->
                <div class='form-group'>
                    <h4><button class='btn btn-primary' type='submit'>Save Account Info Log</button></h4>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>
<!-- FOOTER -->
<div class="bg-primary p-5 text-white">
    <center>&copy; 2019 FYEO Inc</center>
</div>