{% extends 'base.html' %}

{% block content %}

    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <a class="navbar-brand" href="#"></a>
        <div class="navbar-nav">
            <a href='static/features.html' class='btn btn-default navbar-btn'>Features</a>
            <a href='static/about.html' class='btn btn-default navbar-btn'>About</a>
            <a href='static/login.html' class='btn btn-default navbar-btn'>Login</a>
            <a href='static/signup.html' class='btn btn-default navbar-btn'>Sign up</a>
            <a href='infos/new' class='btn btn-default navbar-btn'>New Account Info Log</a>
        </div>
    </nav>

</head>
<body>
    <h1><center><strong><bold>FYEO</bold</strong></center></h1>
    <br>
    <h4><center>Welcome to FYEO. If you need information about us, check the about and features pages.</center></h4>
    <br>
    <br>
    <div class='row'>
        {% for info in infos %}
            <div class='col-md-3'>
                <div class="card" style="width: 20rem;">
                    <h3><center><a href='/infos/{{ info._id }}'>{{ info.username }}</a></center></h3>
                        <!--<div class="card-body">
                              <h5 class="card-title"><center>{{ info.name }}</center></</h5>
                        </div>-->
                </div>
            </div>
        {% endfor %}
    </div>
    

{% endblock %}