{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <a class="navbar-brand" href="#"></a>
        <div class="navbar-nav">
            <a href='/' class='btn btn-default navbar-btn'>Back to Home</a>
        </div>
    </nav>
    <br>
    <div class="container text-center; width:69rem;">
        <div class="container text-center">
            <!--<div class="card text-white bg-primary ; border:5px solid primary; border-radius: 10px; padding: 10px 10px 10px 10px; width:69rem;">
                <h5>Account Image:</h5>
                <h5>{{ info.img_url }}</h5>
            </div>-->
                <br>
            <div class="card text-white bg-primary ; border:5px solid primary; border-radius: 10px; padding: 10px 10px 10px 10px; width:69rem;">
                <h2>{{ info.name }}</h2>
            </div>
                <br>
            <div class="card text-white bg-primary ; border:5px solid primary; border-radius: 10px; padding: 10px 10px 10px 10px; width:69rem;">
                <h4>Username:</h4>
                <h4>{{ info.username }}</h4>
            </div>
                <br>
            <div class="card text-white bg-primary ; border:5px solid primary; border-radius: 10px; padding: 10px 10px 10px 10px; width:69rem;">
                <h4>Password:</h4> 
                <h4>{{ info.password }}</h4>
            </div>
                <br>
            <h4><form action='/infos/{{ info._id }}/edit'>
                <input type='hidden' name='_method' value='EDIT'>   
                <button class='btn btn-primary' type='submit'><h5>Edit Account Info Log</h5></button>
            </form></h4>
            <h4><form method='POST' action='/infos/{{ info._id }}/delete'>
                <input type='hidden' name='_method' value='DELETE'>
                <button class='btn btn-primary' type='submit'><h5>Delete Account Info Log</h5></button>
            </form></h4>
        </div>
    </div>
</div>
{% endblock %}