{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand navbar-dark bg-primary">
        <a class="navbar-brand" href="#"></a>
        <div class="navbar-nav">
            <a href='/' class='btn btn-default navbar-btn'>Back to Home</a>
        </div>
    </nav>
    
    <div class="container text-center; width:69rem;">
        <div class="container text-center">
            <div class="card text-white bg-primary ; border:5px solid primary; border-radius: 10px; padding: 10px 10px 10px 10px; width:69rem;">
                <h5>Account Image:</h5>
                <h5>{{ info.img_url }}</h5>
            </div>
                <br>
            <div class="card text-white bg-primary ; border:5px solid primary; border-radius: 10px; padding: 10px 10px 10px 10px; width:69rem;">
                <h5>Name:</h5>
                <h5>{{ info.name }}</h5>
            </div>
                <br>
            <div class="card text-white bg-primary ; border:5px solid primary; border-radius: 10px; padding: 10px 10px 10px 10px; width:69rem;">
                <h5>Username:</h5>
                <h5>{{ info.username }}</h5>
            </div>
                <br>
            <div class="card text-white bg-primary ; border:5px solid primary; border-radius: 10px; padding: 10px 10px 10px 10px; width:69rem;">
                <h5>Password:</h5> 
                <h5>{{ info.password }}</h5>
            </div>
    
            <p><form action='/infos/{{ info._id }}/edit'>
                <input type='hidden' name='_method' value='EDIT'>   
                <button class='btn btn-primary' type='submit'>Edit Account Info Log</button>
            </form></p>
            <p><form method='POST' action='/infos/{{ info._id }}/delete'>
                <input type='hidden' name='_method' value='DELETE'>
                <button class='btn btn-primary' type='submit'>Delete Account Info Log</button>
            </form></p>
        </div>
    </div>
</div>
{% endblock %}