{% extends 'base.html' %}

{% block content %}

    <form method='POST' action='/infos'>
        <h2><center>New Account Info Log</center></h2>
        <div class="container text-center; width:69rem;">
            {% include 'partials/infos_form.html' %}
            <br>
            <!-- BUTTON -->
            <center><div class='form-group'>
                <button class='btn btn-primary' type='submit'>Save Account Info Log</button>
            </div></center>
         </div>
    </form>

{% endblock %}